
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Bebas Neue Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/BebasNeuePro-Regular.woff2") format("woff2"),
       url("../font/BebasNeuePro-Regular.woff") format("woff");
}



@import "tailwindcss";

@theme{
      --font-jost: "Jost", sans-serif;
       --font-bebas-pro: "Bebas Neue Pro", sans-serif;
       --font-bebas: "Bebas Neue", sans-serif;
}



/* ============================================================== 
     # Reset Browsers
=================================================================== */

body {
    @apply box-border m-0 p-0;
}



ul {
	@apply list-none;
}

ul, li {
	@apply list-none;
}

.hero-bg-heading {
   @apply text-[247px] font-bebas-pro font-extrabold uppercase text-center leading-[1] text-[rgba(248,184,149,0.45)] max-w-[1269px] mx-auto;
}

.heading-text{
   @apply text-[48px] font-bebas-pro font-extrabold uppercase tracking-[0.96px] text-white leading-[1];
}

.laundry_header-menu > div > ul {
    @apply flex items-center;
}

.laundry_header-menu > div > ul li a{
    @apply text-gray-700 font-semibold text-base px-2 lg:px-4 py-2;
}

.laundry_header-menu > div > ul li a:hover {
    @apply bg-blue-300 text-red-300;
}

.laundry_header-menu > div > ul li {
    @apply relative;
}

.laundry_header-menu > div > ul li ul{
    @apply absolute flex flex-col bg-black shadow-lg rounded-md h-auto min-w-48 w-auto max-w-80 px-2 py-3 opacity-0 invisible transition-all duration-300;
}

.laundry_header-menu > div > ul li ul a{
    @apply text-white hover:bg-white hover:text-black font-semibold text-base px-4 py-2 block;

}

.laundry_header-menu > div > ul li ul ul{
    @apply right-full xl:left-full top-0 bg-black shadow-lg rounded-md mt-2 xl:ml-3;
}
.laundry_header-menu > div > ul li:hover ul,
.laundry_header-menu > div > ul li:hover ul li:hover ul{
    @apply opacity-100 visible;

}

.laundry_header-menu > div > ul li:hover ul ul{
    @apply opacity-0 invisible;

}


.laundry_header-menu > div > ul li ul a:hover,
.laundry_header-menu > div > ul li:hover > a{
    @apply bg-white text-black font-semibold text-base px-4 py-2 block;
}
