
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Bebas Neue Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/BebasNeuePro-Regular.woff2") format("woff2"),
       url("../font/BebasNeuePro-Regular.woff") format("woff");
}



@import "tailwindcss";

@theme{
      --font-jost: "Jost", sans-serif;
       --font-bebas-pro: "Bebas Neue Pro", sans-serif;
       --font-bebas: "Bebas Neue", sans-serif;
}



/* ============================================================== 
     # Reset Browsers
=================================================================== */

body {
    @apply box-border m-0 p-0;
}



ul {
	@apply list-none;
}

ul, li {
	@apply list-none;
}

.hero-bg-heading {
   @apply text-[247px] font-bebas-pro font-extrabold uppercase text-center leading-[1] text-[rgba(248,184,149,0.45)] max-w-[1269px] mx-auto;
}

.heading-text{
   @apply text-[48px] font-bebas-pro font-extrabold uppercase tracking-[0.96px] text-white leading-[1];
}



.name-email{
    @apply flex gap-8 -mt-4;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.w-full.p-2.pr-5.border.border-gray-300.rounded.placeholder-gray-400{
    @apply w-[240px] text-[#333] font-jost text-[16px] font-normal leading-[24px];

}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.w-full.p-2.pr-5.border.border-gray-300.rounded{
    @apply w-[240px] pt-2 pl-2 text-[#333] font-jost text-[16px] font-normal leading-[24px];
}

input.wpcf7-form-control.wpcf7-submit.has-spinner{
    @apply inline-block w-[512px] h-[48px] flex-shrink-0 bg-[#F65600] text-white font-bebas-pro font-extrabold text-[20px] leading-[1] tracking-[0.4px] uppercase py-[13.99px] px-[24px] text-center;

}

label.subject-lebel.text-\[\#16396F\].font-bebas.text-\[18px\].font-normal.leading-\[20px\].mb-1.block{
    @apply -mt-1.5;
}

textarea.wpcf7-form-control.wpcf7-textarea.p-2.w-full.pr-5.border.border-gray-300.rounded.placeholder-gray-400{
    @apply h-[150px] mb-2;
}
