
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@font-face {
  font-family: "Bebas Neue Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../font/BebasNeuePro-Regular.woff2") format("woff2"),
       url("../font/BebasNeuePro-Regular.woff") format("woff");
}


@import "tailwindcss";

@theme{
      --font-jost: "Jost", sans-serif;
       --font-bebas-pro: "Bebas Neue Pro", sans-serif;
       --font-bebas: "Bebas Neue", sans-serif;
       --font-dm-sans: "DM Sans", sans-serif;
}

/* ============================================================== 
     # Reset Browsers
=================================================================== */

body {
    @apply box-border m-0 p-0;
}

ul {
	@apply list-none;
}

ul, li {
	@apply list-none;
}

.hero-bg-heading {
   @apply text-[247px] font-bebas-pro font-extrabold uppercase text-center leading-[1] text-[rgba(248,184,149,0.45)] max-w-[1269px] mx-auto;
}

.heading-text{
   @apply text-[48px] font-bebas-pro font-extrabold uppercase tracking-[0.96px] text-white leading-[1];
}


 /* label all */
.team-name-label, .team-email-label, .head-cook-label, .address-name-label, .team-phone-label, .kcbs-member-label, .kcbs-phone-label, .first_name-label, .contact-email-label, .contact-subject-label, .contact-message-label{
    @apply text-[#16396F] font-bebas text-[18px] font-normal leading-[20px] not-italic;
}

 /* two raw design */
.team-name-email, .address-phone-number, .address-phone-number{
    @apply flex gap-[30px] pt-3 justify-between;
}

.kcbs-member-phone-number{
    @apply flex gap-[40px] pt-3;
}


  /* input and icon */
.team-name-input-icon, .team-email-input-icon, .head-input-cook-icon, .address-name-input-icon, .team-phone-input-icon, .kcbs-member-input-icon, .kcbs-phone-input-icon{
    @apply flex gap-2 p-3 mt-1 border border-gray-200 items-center justify-between;
}

.address-phone-number{
    @apply mt-2.5;
}


input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.team-name-input{
    @apply w-[186px] outline-none text-[#333] font-jost text-[16px] font-normal leading-[24px];
}

input.wpcf7-form-control.wpcf7-email.wpcf7-validates-as-required.wpcf7-text.wpcf7-validates-as-email.team-email-input{
     @apply w-[186px] outline-none text-[#333] font-jost text-[16px] font-normal leading-[24px];
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.head-cook-input{
    @apply w-full outline-none;
}
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.team-address-input{
          @apply w-[186px] outline-none text-[#333] font-jost text-[16px] font-normal leading-[24px];
}

input.wpcf7-form-control.wpcf7-tel.wpcf7-validates-as-required.wpcf7-text.wpcf7-validates-as-tel.team-phone-input{
    @apply w-[176px] ml-3 outline-none text-[#333] font-jost text-[16px] font-normal leading-[24px];
}
select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required.kcbs-member-input{
    @apply w-[205px] appearance-none outline-none text-[#333] font-jost text-[16px] font-normal leading-[24px] bg-white pl-2 pr-2;
}

input.wpcf7-form-control.wpcf7-text.kcbs-number-input{
     @apply w-[205px] outline-none text-[#333] font-jost text-[16px] font-normal leading-[24px];
}
.head-cook{
    @apply mt-4 w-full;
}

.kcbs-member-phone-number{
    @apply mt-1;
}

.kcbs-member-input-icon{
    @apply relative flex mt-1  border border-gray-200;
}
.select-drop-down-icon{
    @apply pointer-events-none absolute right-0 top-1/2 -translate-y-1/2;
}
.kcbs-phone{
    @apply ml-0;
}

/* <!-- Agreement & Extra options --> */
.read-checkbox-rule-label{
   @apply text-[#16396F] mt-0.5 font-jost text-[16px] font-semibold leading-normal tracking-[0.32px] not-italic;
}

.read-checkbox-rule{
   @apply flex flex-col mt-[83px] items-start gap-[15px] h-[125px] p-[22px_18px] w-full bg-[#FFF4EE];
}

span.wpcf7-list-item.first{
         @apply flex bg-white items-center gap-[7px] w-[229.656px] h-[40px] p-[8px_12px] flex-shrink-0 border border-[rgba(246,86,0,0.1)];
}

span.wpcf7-list-item.last{
         @apply flex bg-white items-center gap-[7px] w-[229.656px] h-[40px] p-[8px_12px] flex-shrink-0 border border-[rgba(246,86,0,0.1)];
}

span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required.read-rules{
    @apply -ml-5 flex gap-2 items-center text-black font-jost text-[12px] font-semibold leading-normal tracking-[0.24px] not-italic;
}

.serve-food-help{
    @apply mt-6 flex flex-col overflow-hidden items-start gap-[15px] pb-2 px-[18px] w-full bg-[#FFF4EE];
}

.team-help-kid-prepare-label{
   @apply text-[#16396F] font-jost text-[16px] not-italic font-semibold leading-normal tracking-[0.32px] uppercase;
}

.serve-food-help-label {
     @apply text-[#16396F] font-jost text-[16px] not-italic font-semibold leading-normal tracking-[0.32px] uppercase;
}

.serve-food-help-input{
    @apply -ml-8 -mt-8  text-black font-jost text-[12px] font-semibold leading-normal tracking-[0.24px] not-italic;
}
.serve-food-help-input span.wpcf7-list-item.first{
         @apply flex bg-white items-center gap-[7px] w-[476px] h-[40px] p-[8px_12px] flex-shrink-0 border border-[rgba(246,86,0,0.1)];
}

.serve-food-help-input span.wpcf7-list-item.last{
         @apply flex bg-white items-center gap-[7px] w-[463px] h-[40px] p-[8px_12px] flex-shrink-0 border border-[rgba(246,86,0,0.1)];
}


.team-help-kid-prepare {
  @apply mt-6 flex flex-col items-start gap-[15px] pb-2 px-[18px] w-full bg-[#FFF4EE];
}

.team-help-kid-prepare-input {
  @apply -ml-5 -mt-7 text-black font-jost text-[12px] font-semibold leading-normal tracking-[0.24px] not-italic;
}


.team-help-kid-prepare-input .wpcf7-list {
  @apply flex gap-[10px]; 
}

.team-help-kid-prepare-input span.wpcf7-list-item.first,
.team-help-kid-prepare-input span.wpcf7-list-item.last {
  @apply flex items-center gap-[7px] w-[462px] h-[40px] p-[6px_4px] flex-shrink-0 border border-[rgba(246,86,0,0.1)] bg-white;
}


span.wpcf7-list-item-label{
    @apply ml-1;
}



input#acceptance-rule-text{
    @apply mt-8 -ml-4 pr-2.5;
}

.acceptance-rule-text{
               @apply text-black w-[450px] font-jost text-[14px] font-semibold leading-normal tracking-[0.24px] not-italic ;
}

.entry-form{
    @apply mt-8;
}

input#entry-form{
    @apply inline-block w-[512px] mt-8 h-[44px] bg-[#F65600] text-white font-bebas text-[20px] font-normal leading-normal tracking-[0.4px] uppercase py-[3px];
}


/* slider css */

.best-bbq-post-gallery .slick-slide {
  padding: 0 13px;
}

.best-bbq-post-gallery .slick-list {
  margin: 0 -12px;
}




.leading-trim {
  leading-trim: both;
  text-edge: cap;
}



/* child entry form design */
.form-data{
    @apply pt-4;
}
.child-name-email, .child-parent-number, .parent-name-division{
     @apply flex gap-[30px] pt-3;
}
.child-parent-number{
    @apply mt-2.5;
}

.parent-name-division{
    @apply mt-2.5;
}

.child-name-label, .child-email-label, .child-number-label, .parent-number-label, .parent-name-label, .parent-select-label, .child-message-label, .enrty_date-label{
    @apply text-black font-jost text-[16px] font-normal leading-[24px];
}


input#child-name, input#child-email, input#parent-name{
   @apply text-[#7C7C7C] w-[240.60px] font-jost text-[16px] font-normal leading-[24px] px-3.5 py-[11px] mt-0.5 outline-none border border-[#CCCCCC];
}

.parent-number-input, .child-number-input{
    @apply flex gap-1 items-center px-3.5 py-[5px] border border-[#CCCCCC];
}
input#child-phone, input#parent-phone{
    @apply text-[#7C7C7C] w-[160.60px] font-jost text-[16px] font-normal leading-[24px] mt-0.5 outline-none border-none;
}

select#division-select{
    @apply text-[#7C7C7C] w-[240.60px] font-jost text-[16px] font-normal leading-[24px] appearance-auto px-3.5 py-[11px] mt-0.5 outline-none border border-[#CCCCCC];
}

input#enrty_date{
     @apply text-[#7C7C7C] w-[510px] font-jost text-[16px] font-normal leading-[24px] appearance-none px-3.5 py-[11px] mt-0.5 outline-none border border-[#CCCCCC];
}

.enrty_date{
    @apply mt-5;
}

.child-message{
    @apply mt-5;
}
textarea#child-message{
     @apply text-[#7C7C7C] w-[512px] h-[65.60px] font-jost text-[16px] font-normal leading-[24px] appearance-none px-3.5 py-[11px] mt-0.5 outline-none border border-[#CCCCCC];
}

.send_message_button{
    @apply mt-5;
}
.send_message_button input#child-form{
     @apply inline-block w-[512px] h-[48px] flex-shrink-0 bg-[#16396F] text-white text-center font-['Jost'] text-[16px] font-semibold leading-[24px] py-[13.99px] px-[24px] capitalize;

}


/* contact form design */

.first_name-email{
    @apply flex gap-[29px] mt-3 mb-5;
}


input#first-name-input, input#contact-email{
     @apply text-[#7C7C7C] w-[240.60px] font-jost text-[16px] font-normal leading-[24px] px-3.5 pt-[14px] pb-2 mt-0.5 outline-none border border-[#CCCCCC];
}
input#contact-subject{
    @apply text-[#7C7C7C] w-[512px] font-jost text-[16px] font-normal leading-[24px] px-3.5 py-[12px] mt-1.5 mb-5 outline-none border border-[#CCCCCC];
}

textarea#contact-message{
         @apply text-[#7C7C7C] mt-1 w-[512px] h-[128px] font-jost text-[16px] font-normal leading-[24px] appearance-none px-3.5 py-[10px] outline-none border border-[#CCCCCC];
}

input#contact-form{
     @apply inline-block w-[512px] mt-8 h-[48px] pr-4 bg-[#F65600] text-white font-bebas text-[20px] font-normal leading-normal tracking-[0.4px] uppercase py-[6px];
}

/* Success Message Style */
.wpcf7 form.sent .wpcf7-response-output {
  @apply text-white bg-[#16396F] border-0 text-center font-['Jost'] text-[16px] font-medium 
         px-5 py-3 rounded-lg mt-5 relative;
}

/* Error Message Style */
.wpcf7 form.invalid .wpcf7-response-output {
  @apply text-white bg-[#F65600] border-0 text-center px-5 py-3 rounded-lg;
}










